body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}

.page {
    margin: auto;
    height: 768px;
    width: 1366px;
    padding: 20px;
}


/* Nav bar styling */

header {
    background: rgba(217, 217, 217, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    height: 160px;
}

header h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

header nav {
    width: 95%;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    width: 10%;
    box-sizing: border-box;
    /* border-left: 2px solid rgb(255, 255, 255); */
    /* margin: 0 60px; */
}

header nav ul li:first-of-type {
    border-left: none;
}

header nav ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    background: #3d3d3d;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.prog {
    margin-top: 17px;
    height: 5px;
    background: #3d3d3d;
}

.selected {
    background: rgb(0, 216, 254);
    transition: all 1s;
}


/* Sections + content + imgs */

section {
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
}


/* p {
    max-width: 50%;
    margin: auto;
} */

.flex-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 138, 138);
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    width: 600px;
}

.flex-container-footer a {
    margin: 10px 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.flex-container-footer a:hover {
    background-color: white;
    color: black;
    border-radius: 2px;
    transition: all 1s;
}

a {
    text-decoration: none;
    color: black;
}


/* img stuff */

figure {
    display: block;
    margin: 160px 0;
    width: 60vw;
    height: 70%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}

figure img {
    position: absolute;
    transition: all 3s ease;
}